.dashboard {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.dashboard .title{
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: x-large;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  /* border: 1px white; */
  /* box-shadow: 1px 1px 1px gray; */
}

.dashboard .chart1{
  width: 1020px;
  /* margin-right: auto; */
  grid-column-start: 1;
  grid-column-end: 2;
  /* grid-column: 1 / 2; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: bold; */
  background-color: white;
  padding: 10px 0px 10px 0px;
  box-shadow: 2px;
  border-radius: 5px;
}

.dashboard .chart2{
  /* grid-column: 2 / 4; */
  /* margin-right: 200px; */
  /* margin: auto; */
  width: 340px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 80px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px;
  border-radius: 5px;
  text-align: center;
}

.dashboard .chart2 .greenText {
  color: rgb(0, 128, 0);
}

.dashboard .chart2 .orangeText {
  color: rgb(255, 165, 0);
}

.dashboard .chart2 .redText {
  color: rgb(255, 0, 0);
}

.dashboard .chart3{
  /* grid-column: 1 / 2; */
  width: 1000px;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: x-large;
  background-color: white;
  padding: 10px;
  box-shadow: 2px;
  border-radius: 5px;
}

.dashboard .chart4{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: x-large;
  background-color: white;
  padding: 10px;
  box-shadow: 2px;
  border-radius: 5px;
}

.dashboard > div {
  background-color: rgba(230, 15, 15, 0.8);
}

.chart1 .line-chart-title{
  font-size: large;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.chart2 .number-chart-title{
  font-size: large;
  margin-bottom: 150px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}